.char-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    z-index: 1;
}

.back-btn {
    align-items: flex-start;
    width: 50px;
    margin-bottom: 20px;
}

.back-btn:hover {
    background-color: rgb(145, 209, 49);
}

.char-header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.char-header {
    position: relative;
    margin-bottom: 20px;
}

.char-header img {
    height: auto;
    width: 100%;
    border-radius: 5px;
}

.char-header-name {
    /* position: absolute;
    top: 0;
    left: 0; */
    padding: 10px;
    color: white;
}

.char-desc {
    color: white;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.548);
    border-radius: 5px;
    width: 460px;
}

.char-link {
    color: red;
    color: white;
    cursor: pointer;
}

.char-link:hover {
    color:rgb(145, 209, 49);
}

@media (max-width: 500px) {
    .char-header img {
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .char-desc {
        width: 100%;
        border-radius: 5px;
    }
}